@import "../../../../styles/variables";

.cardHeader {
  margin: 1rem auto;
  width: 80%;

  @include tablet {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-gap: 1rem;
    justify-items: center;
    width: 60%;
    margin: 2rem auto 1rem auto;
  }
}

.cardHeaderAvatar {
  text-align: center;
}

.containerAvatar {
  margin: 0 auto;
  width: 6rem;
  margin-bottom: 1rem;
  @include tablet {
    width: 8rem;
  }
  img {
    width: 6rem;
    @include tablet {
      width: 8rem;
    }
  }
}

.unFollowBtn,
.followBtn {
  cursor: pointer;
  display: inline-block;
  font-size: 0.7rem;
  padding: 0.3rem 0.7rem;

  @include tablet {
    font-size: 0.8rem;
    padding: 0.4rem 0.8rem;
  }
}

.followBtn {
  background-color: crimson;
  color: #fff;
}

.unFollowBtn {
  background-color: $lightBlue;
  color: #fff;
}

.gridCardBuz {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1rem;
  justify-items: center;
}

.gridCardBtn {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 0.5rem;
  margin: 0.5rem;
}

.editBtn {
  margin-bottom: 0.5rem;
  a {
    font-size: 0.9rem;
    text-decoration: none;
    color: $titleGreen;

    &:hover {
      color: $green;
    }
  }

  @include tablet {
    margin-bottom: 0;
    a {
      font-size: 1rem;
    }
  }
}

.cardHeaderName {
  color: $primaryBlue;
  font-size: 1.8rem;
  margin-bottom: 0.5rem;
  @include tablet {
    font-size: 2rem;
    margin-right: 4rem;
    margin-bottom: 0;
  }
}

.cardHeadersect {
  text-align: center;
  @include tablet {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    margin-bottom: 1rem;
  }
}

.cardHeaderAddBuz {
  display: inline-block;
  cursor: pointer;
  border-radius: 10%;
  padding: 0.5rem 0.8rem;
  background-color: burlywood;
  font-size: 0.8rem;
  margin-bottom: 0.8rem;
  a {
    text-decoration: none;
    color: $lightBlue;
    &:hover {
      color: $primaryBlue;
      font-weight: 500;
    }
  }

  @include tablet {
    font-size: 0.9rem;
    padding: 0.6rem 1rem;
  }
}

.cardHeaderStat {
  font-size: 1.1rem;
  font-weight: 400;
}

.cardHeaderCity {
  color: crimson;
  font-size: 0.9rem;
  text-align: center;
  @include tablet {
    font-size: 1rem;
    text-align: left;
  }
}

.cardHeaderQuote {
  font-style: italic;
  margin-top: 0.5rem;
  font-size: 0.75rem;
  text-align: center;
  @include tablet {
    font-size: 0.8rem;
    text-align: left;
  }
}
.center {
  text-align: center;
  @include tablet {
    text-align: left;
  }
}
