@import "../../../../styles/variables";
.container {
  margin: 2rem auto;
}

.section {
  padding: 0.8rem;
  background-color: rgba(#00ffff, 0.15);
  margin-left: 0.2rem;
  font-size: 0.9rem;

  @include tablet {
    padding: 2rem;
    margin-left: 1rem;
    font-size: 1rem;
  }

  a {
    text-decoration: none;
    font-weight: bold;
    &:hover {
      color: darkgoldenrod;
    }
  }
}

.feedEl {
  display: inline-grid;
  grid-template-columns: 1fr 8fr;
  align-items: center;
  margin-bottom: 2rem;
}

.timeAgo {
  margin-left: 1rem;
  font-size: 0.8rem;
  font-weight: 500;
  color: coral;
  @include tablet {
    margin-left: 2rem;
  }
}

.containerAvatar {
  justify-self: center;
  align-self: center;
  width: 3rem;
  border-radius: 50%;
  overflow: hidden;
  @include tablet {
    width: 4rem;
  }
  img {
    width: 3rem;
    @include tablet {
      width: 4rem;
    }
  }
}

.image {
  cursor: pointer;
  color: blue;
  &:hover {
    color: orange;
  }
}

.review {
  background-color: #fff;
  padding: 1rem 0.5rem;
  @include tablet {
    padding: 2rem 1rem;
  }
}

.close {
  cursor: pointer;
  color: #fff;
  text-align: center;
  font-size: 1.2rem;
  margin-bottom: 2rem;
  &:hover {
    color: orange;
  }
}
