.container {
    width: 70%;
    margin: 0 auto;
}

.formTitle {
    color: brown;
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
}

.unpublish {
    display: inline-block;
    padding: .8rem;
    color: white;
    background-color: green;
    margin: 1rem auto;
}