@import "../../../styles/variables";

.selectedBus {
  // padding: 1rem;
  border: 2px solid $lightBlue;
  transform: scale(1.01);
}

.busCard {
  margin-bottom: 1rem;
  @include tablet {
    padding: 1rem;
  }
}
