@import "../../../../../styles/variables";

.modalBtn {
  display: inline-block;
  text-align: center;
  font-size: 0.8rem;
  // padding: 0.3rem 0.8rem;
  color: $primaryBlue;
  // color: #fff;

  @include tablet {
    font-size: 0.9rem;
    padding: 0.5rem 0.8rem;
  }
}

// image grid at the top of single business page
.imgGridTop {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 0.5rem;
  margin-top: 1rem;
  @include tablet {
    grid-template-columns: repeat(6, 1fr);
  }
}

.singleImg {
  img {
    max-width: 100%;
  }
}
