@import "../../../../../styles/variables";

.allPictureBtnContainer {
  margin: 2rem 0;
  text-align: center;
  a {
    text-decoration: none;
  }
}

.allPictureBtn {
  padding: 0.5rem 1rem;
  background-color: $titleGreen;
  color: #fff;
  cursor: pointer;
  &:hover {
    font-size: 1.1rem;
  }
}
