@import "../../../styles/variables";

.mainContainer {
  text-align: center;
}

.imgGrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

  margin: 0 auto;
  @include tablet {
    // width: 80%;
  }
}

// image grid at the top of single business page
.imgGridTop {
  display: grid;
  grid-template-columns: repeat(4, 1fr);

  margin-top: 1rem;
  @include tablet {
    grid-template-columns: repeat(6, 1fr);
  }
}

.singleImg {
  cursor: pointer;
  img {
    max-width: 200px;
    max-height: 200px;
  }
}
