.mainContainer {
    text-align: center;
}

.textAreaDesc {
    font-size: .9rem;
    width: 80%;
    height: 2.5rem;
    resize: none;
    box-sizing: border-box;
    &:hover {
      border: 1px solid lightblue;
      font-size: .95rem;
    }  
  }
  .btnDesc{
    font-size: .7rem;
    padding: .05rem .3rem;
    border-radius: 20%;
    background-color: firebrick;
    color: #fff;
    cursor: pointer;
    &:hover {
      font-size: .8rem;
    }
  }