.taxGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 1rem;
    border : 0.1px dashed blue ;
    margin-bottom: 3rem;
    padding: 2rem 1rem;
    align-items: center;
}

.innerContainer{
    width: 80%;
    margin : 0 auto;
}


.disabledField {
    color : rgba(0, 0, 0, 1)
}

.MuiInputBase-root.Mui-disabled {
    color : blue
}

.subCatGrid {
    display: grid;
    grid-template-columns: 2fr 1fr;  
}

.taxTitle {
    color: blue;
    font-weight: 500;
    font-size: 1.2rem;
}