@import "../../styles/variables";

.InnerContainer {
  margin: 4rem auto;
  text-align: center;
}

.logo {
  margin: 2rem auto;
  width: 16rem;

  img {
    width: 100%;
    cursor: pointer;
  }
}

.desc {
  font-size: 1.4rem;
}
