@import "../../../styles/variables";

.sortBySection {
  text-align: center;
  margin: 1rem auto 3rem auto;
}

.sortBy {
  font-size: 1.5rem;
}

.sortByBtn {
  margin-left: 1rem;
  padding: 0.4rem 0.7rem;
  cursor: pointer;
  background-color: $lightBlue;
  color: #fff;
}

.loadMoreBtncontainer {
  text-align: center;
}

.loadMoreBtn {
  padding: 0.5rem 1.2rem;
  background-color: $green;
  color: #fff;
  cursor: pointer;
}
